{% extends "classifier/base.html" %}
{% block title %}<title>Index Page</title>{% endblock %}
{% block page_body %}
{% load staticfiles %}
{% load widget_tweaks %}
    <style>
        body {
            background-color: #deeaee;
        }
        .container {
            padding-top: 13%;
            padding-left: 31%;
        }
        .resizedTextbox {width: 300px; height: 20px}
        .demo-card-wide.mdl-card {
            width: 512px;
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
    </style>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--<label>Enter Your Question</label><br>
            <input type="text" width="300px" maxlength="400" class="resizedTextbox" name="input_question" /><br><br>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">SUBMIT</button>-->
            <div class="container">
                <div style="padding: 5%" class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Bloom's Taxonomy</h2>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        {% render_field form.file %}
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            CLASSIFY
                        </button>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}